/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
    @font-face {
        font-family: ELEPHNT;
        src: url(../fonts/ELEPHNT.TTF);
    }

    :root {
        --colorBotones : rgb(255, 148, 8);
        scroll-behavior: smooth;
    }

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }

  html,body {
      height: 100%;
      width: 100%;
  }




  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }


  /* ==========================================================================================
                                estilos personales a partir de aqui
  ========================================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================================================================================================= */
                                    /* comienzo de los estilos del header  */
/* ================================================================================================= */

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000;
}

.header__contentMenuAndLogo {
    width: 100%;
    height: 80px;
    margin: auto;
    position: fixed;
    z-index: 100;
    animation-timing-function: ease-in;
    animation-duration:  .4s ;
    animation-fill-mode: forwards;
    transition: opacity .5s;
}

@keyframes aparecerMenuStiky {
    to {
        background-color: #000;
        /* height: 80px; */
    }
}

.contentMenuLogo {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex; 
    justify-content: space-between; 
}

.contentLogo {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoMenu {
    width: 30px;
}


.menuHam {
    fill: #fff;
}

.contentMenu,
.contentMenuHamburguesa {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentMenuHamburguesa {
    display: none;
}


.contentMenu ul{
    list-style: none;
    display: flex;
}
.contentMenu li{
    margin-left: 25px;
    margin-right: 25px;
}
.contentMenu li:nth-child(1){
    margin-left: 0;
}
.contentMenu li:nth-last-child(1){
    margin-right: 0;
}
.contentMenu a{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.contentImgPrincipal {
    width: 100%;
    height: 100vh;
    position: relative;
}
.contentImgPrincipal::before {
    content: "";
    width: 230px;
    height: 230px;
    position: absolute;
    top: calc(45% - 115px);
    left: calc(50% - 115px);
    background-color: #000;
    z-index: 20;
    filter: blur(20px);
    animation: subir 1.8s 1.8s forwards ease-out;
    border-radius: 50%;
} 

@keyframes subir {
    60% {
        opacity: .5;

    }
    80% {
        transform: translateY(-70%) ;
    }
    100% {
        transform: translateY(0%) ;
        opacity: 0;
        display: none;
    }
}
.imgPrincipal{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    filter: brightness(0);
    animation: cambio 2s 2.2s forwards ;
}

@keyframes cambio {
    to {
        filter: brightness(.87);
    }
}

.logoSvgPrincipal{
    position: absolute;
    width: 250px;
    top: calc(45% - 125px);
    left: calc(50% - 125px);
}

.logoSvgPrincipal-2 {
    position: absolute;
    width: 140px;
    top: calc(42% - 70px);
    left: calc(49.9% - 70px);
}



.h,.o-1,.t,.f,.o-2,.o-3,.d {
    animation: aparecer .5s forwards ;
    opacity: 0;
} 

.h {
    /* animation: aparecer .7s .2s; */
    animation-delay: 0.2s;
}
.o-1 {
    animation-delay: 0.4s;
}
.o-2 {
    animation-delay: 1s;
}
.o-3 {
    animation-delay: 1.2s;
}
.t {
    animation-delay: 0.6s;
}
.f {
    animation-delay: 0.8s;
}
.d {
    animation-delay: 1.4s;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}








/* =============================================================================================== */
                                        /* estilos del header finalizado */
/* =============================================================================================== */

/* =============================================================================================== */
                                        /* estilos del main contenuido principal */
/* =============================================================================================== */


/* ------------------------------------primer contenido-------------------------------------------- */

.contenedorDiarioComida {
    width: 100%;
    height: 87vh;
    position: relative;
    overflow: hidden;
}

.segundaVistaMenuComida,
.primeraVistaMenuComida {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.segundaVistaMenuComida {
    display: flex;
    flex-wrap: wrap;
    animation-timing-function: ease-in;
    animation-duration:  1s ;
    animation-fill-mode: forwards;
    perspective: 1500px;

    /* animation: aparecerMenu 1s forwards ; */
}

@keyframes aparecerMenu {
    from {
        opacity: 0;
        transform: scale(1.2);
    }
}
@keyframes desaparecerMenu {
    to {
        opacity: 0;
        transform: scale(1.2);
    }
}

.contentImgMenuComida {
    width: 25%;
    height: 50%;
    position: relative;
    overflow: hidden;
    /* border: 2px solid #fff; */
}   

.contentFueguito {
    position: absolute;
    width: 70px;
    height: 70px;
    top: calc(50% - 35px);
    left:  calc(50% - 35px);
    transform: scale(0);
    transition: .3s .1s ease-out;
}

.contentImgMenuComida:hover .contentFueguito {
    transform: scale(1);
}
.contentFueguito a{
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000;
}
.contentFueguito a:hover .contentImgMenuComida__img {
    filter: brightness(1) !important;
}
.contentFueguito img {
    width: 30px;
    /* height: 70px; */
}

.contentImgMenuComida__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition-property: filter,transform ;
    transition: .5s ;
}   


.botonRegrezar {
    top: calc(50% - 40px);
    left: calc(50% - 120px);
    z-index: 1;
}

.botonRegrezar,
.botonVerMenu {
    position: absolute;
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    border-radius: 2px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 10px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: background-color .3s ;
}

.botonRegrezar:hover,
.botonVerMenu:hover {
    background-color: rgb(215, 215, 215);
}

.primeraVistaMenuComida {
    perspective: 1500px;
}
.primeraVistaMenuComida__img {
    width: 50%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: right;
    animation-timing-function: ease-in;
    animation-duration:  1s ;
    animation-fill-mode: forwards;
}

@keyframes transladarDerecha {
    to {
        transform: rotateY(-180deg);
    }
}
@keyframes posicionOriginalDerecha {
    from {
        transform: rotateY(-180deg);

    }
    to {
        transform: rotateY(0deg);
    }
}

.contentTituloMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #000;
    text-align: center;
    transform-origin: left;
    animation-timing-function: ease-in;
    animation-duration:  1s ;
    animation-fill-mode: forwards;
    font-family: ELEPHNT;
    font-size: 18px;
    letter-spacing: 5px;
    /* animation: transladarIzquierda 2s forwards infinite ease-in; */
}


@keyframes transladarIzquierda {
    to {
        transform: rotateY(180deg);
    }
}
@keyframes posicionOriginalIzquierda {
    from {
        transform: rotateY(180deg);
        
    }
    to {
        transform: rotateY(0deg);
    }
}

.tituloMenu {
    margin: 25px 0;
    color: #fff;
    font-size: 4.5em;
}

.botonVerMenu {
    z-index: 1;
    top: calc(50% - 40px);
    left: calc(50% - 120px);
    animation-timing-function: ease-in;
    animation-duration:  1s ;
    animation-fill-mode: forwards;
    /* transform: scale(2); */
    /* animation: transladarMedio 1s forwards infinite ease-in; */
}

@keyframes transladarMedio {
    50% {
        transform: scale(.9);
    }
    50.1% {
        transform: scale(0);
    }
    100%{
        opacity: 0;
    }

}
@keyframes transladarMedioAparecer {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.contentLogoEnMenuPlatillos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoEnMenuPlatillos {
    width: 150px;
    height: 200px;
    overflow: hidden;
}
.contentLogoEnMenuPlatillos img{
    width: 120px;
    height: 150px;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 60px);
}

.contentModalMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    position: fixed;
    justify-content: center;
    display: flex;
    align-items: center;
    /* animation: opacitiModal 1s infinite forwards; */
    background-color: rgba(0, 0, 0, 0);
    /* display: none; */
    visibility: hidden;
}

.modalMenu {
    width: 70%;
    height: 70%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    /* animation: modal 1s infinite; */
    opacity: 0;
    transform:  translate(-30px);
}

.hasComprado {
    width: 250px;
    height: 70px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--colorBotones);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    transform-origin: right;
    /* transition: transform .5s ; */
    transform:  scalex(0);
    border-radius: 5px;
}

.scaleGracias {
    animation-duration: .5s;
    animation-name:scaleGracias;
    animation-fill-mode: forwards;
}
.scaleGraciasDevolver {
    animation-duration: .7s;
    animation-name:scaleGraciasDevolver;
    animation-fill-mode: forwards;
    /* animation-iteration-count: infinite; */
}

@keyframes scaleGraciasDevolver {
    0% {
        transform: scaleX(1);
    }
    70% {
        transform:  scalex(1.2);
    }
    100% {
        transform:  scalex(0);
    }
}
@keyframes scaleGracias {
    to {
        transform:  scalex(1);
    }
}

@keyframes modal {
    to {
        transform:  translate(0);
        opacity: 1;
    }
}
@keyframes opacitiModal {
    to {
        background-color: rgba(14, 14, 14, 0.7);
    }
}
@keyframes modalClosed {
    from {
        transform:  translate(0);
        opacity: 1;
    }
}
@keyframes opacitiModalClosed {
    from {
        background-color: rgba(14, 14, 14, 0.7);
    }
}
.contentImgModalMenu {
    width: 60%;
    height: 100%;
}
.contentImgModalMenu img{
    width: 100%;
    height: 100%;
}

.contentDescriptionModalMenu {
    width: 40%;
    height: 100%;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.closed {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}



.coTitle h2{
    font-size: 2em;
    font-family: ELEPHNT;
}
.coPrecio small{
    font-size: 1em;
}
.coDescription {
    font-size: 0.9em;
    height: 260px;
    width: 100%;
    overflow: auto;
}
.coButton {
    /* border: 2px solid red; */
    width: 100%;
}
.coButton a{
    display: block;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--colorBotones);
}
/* ================================================================================== */
                                    /* estilos del slider */
/* ================================================================================== */

.segundoContenidoContentSlider {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.contentSlider {
    display: flex;
    width: 500%;
    height: 100%;
    animation: slider 30s infinite ease-in-out;
}

.contentImgSlider {
    width: 100%;
    height: 100%;
    position: relative;
}
.contentImgSlider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgSlider1{
    animation-name: opacidad1;
    animation-duration:  30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.imgSlider2{
    animation-name: opacidad2;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.imgSlider3{
    animation-name:opacidad3 ;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.imgSlider4{
    animation-name:opacidad4 ;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes opacidad1 {
    3.3333%{
        filter: brightness(.5);
    }
    25%{
        filter: brightness(.5);
    }
    100%{
        filter: brightness(1);
    }

}

@keyframes opacidad2 {
    22%{
        filter: brightness(1);
    }
    25.333%{
        filter: brightness(.5);
    }
    53.333%{
        filter: brightness(.5);
    }
    100%{
        filter: brightness(1);
    }
}
@keyframes opacidad3 {
    47%{
        filter: brightness(1);
    }
    50.333%{
        filter: brightness(.5);
    }
    81.333%{
        filter: brightness(.5);
    }
    100%{
        filter: brightness(1);
    }
}
@keyframes opacidad4 {
    71.333%{
        filter: brightness(1);
    }
    74.333%{
        filter: brightness(.5);
    }

    99.333%{
        filter: brightness(.5);
    }
    100%{
        filter: brightness(1);
    }
}

@keyframes slider {

    20% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-20%);
    }
    45% {
        transform: translateX(-20%);
    }
    50% {
        transform: translateX(-40%);
    }
    70% {
        transform: translateX(-40%);
    }
    75% {
        transform: translateX(-60%);
    }
    95% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(-80%);
    }
}

.contentDescriptionAlimentosSlider {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left:  100px;
    z-index: 1;
}
.contentDescriptionAlimentosSlider h3{
    width: 100%;
    margin-bottom: 30px;
    font-size: 3.5em;
    font-family: ELEPHNT;
    /* font-weight: 100; */
    letter-spacing: 4px;
}
.contentDescriptionAlimentosSlider p{
    font-size: 1.4em;
    width: 100%;
}

.animationContent1 h3,
.animationContent1 p,
.animationContent2 h3,
.animationContent2 p,
.animationContent3 h3,
.animationContent3 p,
.animationContent4 h3,
.animationContent4 p{
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: translateX(-10%);
    opacity: 0;
}
.animationContent1 h3 {
    animation-name:aparecerTitulo1 ;
}
.animationContent1 p {
    animation-name:aparecerParrafo1 ;
}

@keyframes aparecerTitulo1 {
    4.333%{
        transform: translateX(-10%);
        opacity: 0;
    }
    6.666%{
        transform: translateX(0%);
        opacity: 1;
    }
    31.666%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-10%);
        opacity: 0;
    }
}
@keyframes aparecerParrafo1 {
    4.8%{
        transform: translateX(-10%);
        opacity: 0;
    }
    7.2%{
        transform: translateX(0%);
        opacity: 1;
    }
    32.666%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-10%);
        opacity: 0;
    }
}

.animationContent2 h3 {
    animation-name:aparecerTitulo2 ;
}
.animationContent2 p {
    animation-name:aparecerParrafo2 ;
}

@keyframes aparecerTitulo2 {
    25%{
        transform: translateX(-10%);
        opacity: 0;
    }
    27.3%{
        transform: translateX(0%);
        opacity: 1;
    }
    52.3%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-10%);
        opacity: 0;
    }
}
@keyframes aparecerParrafo2 {
    26%{
        transform: translateX(-10%);
        opacity: 0;
    }
    28.4%{
        transform: translateX(0%);
        opacity: 1;
    }
    53.4%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-10%);
        opacity: 0;
    }
}

.animationContent3 h3 {
    animation-name:aparecerTitulo3 ;
}
.animationContent3 p {
    animation-name:aparecerParrafo3 ;
}

@keyframes aparecerTitulo3 {
    50%{
        transform: translateX(-10%);
        opacity: 0;
    }
    52.3%{
        transform: translateX(0%);
        opacity: 1;
    }
    77.3%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-10%);
        opacity: 0;
    }
}
@keyframes aparecerParrafo3 {
    51%{
        transform: translateX(-10%);
        opacity: 0;
    }
    53.3%{
        transform: translateX(0%);
        opacity: 1;
    }
    78.3%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-10%);
        opacity: 0;
    }
}

.animationContent4 h3 {
    animation-name:aparecerTitulo4 ;
}
.animationContent4 p {
    animation-name:aparecerParrafo4 ;
}

@keyframes aparecerTitulo4 {
    73.3%{
        transform: translateX(-10%);
        opacity: 0;
    }
    75.6%{
        transform: translateX(0%);
        opacity: 1;
    }
    99.6%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-10%);
        opacity: 0;
    }
}
@keyframes aparecerParrafo4 {
    74.3%{
        transform: translateX(-10%);
        opacity: 0;
    }
    76.6%{
        transform: translateX(0%);
        opacity: 1;
    }
    99.6%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(-10%);
        opacity: 0;
    }
}
/* ============================================================================ */
                                    /* estilos del formulario */
/* ============================================================================ */
a,div { -webkit-tap-highlight-color: rgba(255, 255, 255, 0) ; }

.contentFormularioContacto {
    /* margin-top: 80px; */
    width: 100%;
    height: 40vh;
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    /* transform: translatey(-80px); */
}

.contenedorFormularioImg {
    width: 70%;
    height: 150%;
    z-index: 1;
    border-radius: 20px;
    /* border: 2px solid red; */
    display: flex;
    overflow: hidden;
    /* flex-wrap: wrap; */
    background-color: rgb(56, 56, 56);
}

.contentForm,
.contentImgForm {
    width: 50%;
    height: 100%;
}

.contentForm {
    padding: 70px 50px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(75deg, #1b1b1b,rgb(75, 75, 75));
}
.contentForm h2{
    font-size: 1.9em;
    margin-bottom: 10px;
    font-family: ELEPHNT;
}
.contentForm small{
    font-size: 1.5em;
    font-weight: 300;
}

.formulario {
    width: 95%;
    margin-top: 20px;
}

.labels {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.inputs {
    width: 100%;
    padding: 7px;
    font-size: 1.1em;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 5px;
    height: 40px;
}

.botonSubmit {
    height: 40px;
    border-radius: 5px;
    border-style: none;
    display: block;
    width: 120px;
    margin: auto;
    cursor: pointer;
    background-color:  var(--colorBotones);
    color: #fff;
    outline: none;
}

.contentImgForm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.locationContent {
    width: 100%;
    height: 90vh;
}
.map {
    width: 100%;
    height: 100%;
}


.delMenu {
    width: 50px;
    height: 50px;
    right: 27.5px;
    top: 16px;
    fill: #fff;
    display: none;
}
.contentMenuDesaparecerMedia {
    display: none;
}


footer {
    width: 100%;
    height: 70px;
}

.contentFooter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #fff;
    background-image: linear-gradient(75deg, #1b1b1b,rgb(75, 75, 75));
}

.contentFooter p {
text-align: center;

}


@media only screen and (max-width: 1100px){
    .contenedorDiarioComida {
        height: 65vh;
    }
}
@media only screen and (max-width: 980px){
    /* media querys del menu */
    .contentMenuLogo {
        width: 90%;
    }
    /* media querys del menu */
    
    
    
    /* media querys de el menu comida */
    .primeraVistaMenuComida,
    .botonRegrezar {
        display: none;
    }

    .contenedorDiarioComida {
        height: 250vh;
    }
    .contentImgMenuComida {
        width: 50%;
        height: 25%;
    }
    /* media querys de el menu comida */
    
    

    /* media querys de slider */
    .contentDescriptionAlimentosSlider {
        width: 90%;
        padding-left: 50px;
    }
    /* media querys de slider */




    /* media querys del formulario */
    .contenedorFormularioImg {
        width: 85%;
    }
    /* media querys del formulario*/
}

@media only screen and (min-width: 730px) and  (max-width: 1020px) {
        /* media querys del modal */
        .modalMenu {
            width: 100%;
            height: 70%;
        }
        /* media querys del modal*/
}
@media only screen and (max-width: 768px){
        /* media querys del menu */

    .contentFueguito {
        display: none;
    }
    .contentMenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-image: linear-gradient(75deg, #1b1b1b,rgb(75, 75, 75));
        transform: translateX(100%);
        transition:  transform .4s ;
    }
    .activo {
        transform: translateX(0);
    }
    .contentMenu ul{
        flex-direction: column;
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contentMenu li{
        width: 100%;
        height: 60px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #626262;
    }
    .contentMenu a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contentMenuHamburguesa {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .delMenu {
        display: block;
    }
        /* media querys del menu */



        /* media querys del menu comida */
        
        .contenedorDiarioComida {
            height: 180vh;
        }
    .contentImgMenuComida {
        height: 25%;
    }
    
    .contentMenuDesaparecerMedia {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 2;
        color: #fff;
        text-align: center;
        font-size: 3.5em;
        padding: 30px 0 0 0;
        transition: background-color 1s;
    }
    .contentMenuDesaparecerMedia h2{
        animation-duration: 1s;
        animation-fill-mode: forwards;
        transform-origin: center;
    }
    /* media querys del menu comida */






    /* media querys del formulario */
    .contenedorFormularioImg {
        width: 95%;
    }
    /* media querys del formulario*/
    
    /* media querys del modal */
    .contentModalMenu {display: none;}
    /* media querys del modal*/


    .contentFormularioContacto {
        height: 60vh;
        font-family: 'Raleway', sans-serif;
    
    }
        
    .contenedorFormularioImg {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .contentForm {
        padding: 50px 30px;
    }

    .botonSubmit {
        width: 100%;
    }
}


@keyframes desaserMenu {
    to {
        transform: scale(1.8);
        opacity: 0;
    }
}


@media only screen and (max-width: 550px){
    /* media querys del menu */
    .contentMenu {
        width: 70%;
    }
    .delMenu {
        right: 17px;
    }
        /* media querys del menu */





    /* media querys del menu comida */
    .contenedorDiarioComida {
        height: 150vh;
    }
    /* media querys del menu comida */




    /* media querys de slider */

    .segundoContenidoContentSlider {
        height: 80vh;
    }
    /* media querys de slider */



    /* media querys del formulario */
   
    .contentForm {
        width: 100%;
        height: 100%;

    }
    .contentImgForm {
        display: none;
    }
    .contentForm {
        padding: 50px 80px;
    }
    
    /* media querys del formulario*/
}
@media only screen and (max-width: 400px){
    /* media querys del menu */
    .contentMenu {
        width: 80%;
    }
    .delMenu {
        right: 7px;
    }
    /* media querys del menu */





    /* media querys del menu comida */
    .contenedorDiarioComida {
        height: 380vh;
    }
    .contentImgMenuComida {
        height: 12.5%;
        width: 100%;
    }
    /* media querys del menu comida */



        /* media querys de slider */
        .segundoContenidoContentSlider {
            height: 80vh;
        }
        
        .contentDescriptionAlimentosSlider h3{
            font-size: 2.5em;
        }
        .contentDescriptionAlimentosSlider p{
            font-size: 1.1em;
        }
        
        /* media querys de slider */


        /* media querys formulario */
        .contentForm {
            padding: 50px 40px;
        }
        /* media querys formulario */
}

@media only screen and (max-width: 320px){
    .contentDescriptionAlimentosSlider {
        padding: 0 30px;
    }
    
    .contentDescriptionAlimentosSlider h3{
        font-size: 2em;
    }
    .contentDescriptionAlimentosSlider p{
        font-size: 1em;
    }
}

.contentPreloader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    perspective: 120px;
}
.contentPreloader img{
    width: 70px;
    animation: preloader 1.4s infinite ease-out;
    transform-origin: center;
}

@keyframes preloader {
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
    }
}


